<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Create</title>
</head>

<body>
    <form id="uploadForm" enctype="multipart/form-data">
        <div class="container my-4">
            <div class="block has-background-white-bis p-6">
                <span class="title is-2">Lagezentrum</span><span class="title is-2 m-0 has-text-grey">
                    Ukraine</span><br>
                <span id="commsIconM" class="is-hidden"><i class="fa-solid fa-spinner fa-spin"></i></span>
                <span id="lastUpdateSpan" class="title is-5 m-0"></span>
                <a id="returnedLink" class="title has-text-link is-5 mb-4 is-hidden" href="/">Go to page</a><br><br>
                <div class="my-4">
                    <!-- Existing box -->
                    <div class="box has-background-white-bis my-2">
                        <div class="columns is-vcentered  is-1 is-variable">
                            <div class="column is-2">
                                <select id="gp" class="select is-small is-fullwidth" required>
                                    <option value="lz-ukr" selected>Lagezentrum Ukraine</option>
                                    <option value="lz-isr">Lagezentrum Israel</option>
                                    <option value="bild">BILD General</option>
                                </select>
                            </div>
                            <div class="column is-2">
                                <input id="title" class="input is-small" type="text" placeholder="Home Screen Title"
                                    value="" required>
                            </div>
                            <div class="column is-2">
                                <input id="sub" class="input is-small" type="text"
                                    placeholder="Home Screen Subline / Claim" value="" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="boxes-container" class="my-4">
                    <!-- Existing box -->
                    <div class="box my-2" id="box_1">
                        <div class="columns is-vcentered  is-1 is-variable">

                            <div class="column is-1">
                                <input class="input is-small" type="text" placeholder="Button" name="name_1" value=""
                                    required>
                            </div>
                            <div class="column is-narrow">
                                <label class="checkbox mr-4">
                                    <input type="checkbox" name="mute_1">
                                    <i class="fa-solid fa-volume-xmark"></i>
                                </label>
                            </div>
                            <div class="column is-narrow">
                                <label class="checkbox mr-4">
                                    <input type="checkbox" name="loop_1">
                                    <i class="fa-solid fa-repeat"></i>
                                </label>
                            </div>
                            <div class="column is-narrow">
                                <label class="checkbox mr-4">
                                    <input type="checkbox" name="ctrl_1">
                                    <i class="fa-solid fa-sliders"></i>
                                </label>
                            </div>
                            <div class="column is-2">
                                <div class="file has-name is-small">
                                    <label class="file-label">
                                        <input class="file-input" type="file" accept=".webm, .mp4, .jpg, .png"
                                            name="file_1" onchange="updateFileName(this)" required>
                                        <span class="file-cta px-1">
                                            <span class="file-icon mx-0 px-0">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                            </span>
                                        </span>
                                        <span class="file-name">
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="column is-1" style="width: 90px;">
                                <p class="control has-icons-left">
                                    <input class="input is-small" type="number" placeholder="0" name="start_1">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-backward-step"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="column is-1" style="width: 90px;">
                                <p class="control has-icons-right">
                                    <input class="input is-small" type="number" placeholder="0" name="end_1">
                                    <span class="icon is-small is-right">
                                        <i class="fa-solid fa-forward-step"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="column is-2">
                                <input class="input is-small" type="text" placeholder="Title / User" name="title_1"
                                    value="" required>
                            </div>
                            <div class="column is-2">
                                <input class="input is-small" type="text" placeholder="Note / Time" name="time_1"
                                    value="">
                            </div>
                            <div class="column is-1">
                                <select class="select is-small is-fullwidth" name="type_1" required>
                                    <option value="map" selected>Map</option>
                                    <option value="x">X</option>
                                    <option value="ig">Instagram</option>
                                    <option value="fb">Facebook</option>
                                    <option value="tk">TikTok</option>
                                    <option value="yt">YouTube</option>
                                    <option value="media">Media</option>
                                    <option value="chart">Diagramme</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="mt-6">
                    <button type="submit" class="button is-dark has-background-info-dark is-vcentered">
                        <span class="title is-5 has-text-white">Submit</span></button>
                    <button type="button" class="button is-info is-vcentered" style="width: 40px;"
                        onclick="handleList(false)"><i class="fa-solid fa-plus"></i></button>
                    <button type="button" class="button is-info is-vcentered" style="width: 40px;"
                        onclick="handleList(true)"><i class="fa-solid fa-minus"></i></button>
                </div>
            </div>
        </div>
    </form>
</body>

<script name="hanldeFilesNames">
    function updateFileName(input) {
        var fileNameContainer = input.closest('.file-label').querySelector('.file-name');
        var boxId = input.closest('.box').id;
        if (input.files.length > 0) {
            fileNameContainer.textContent = input.files[0].name;
        } else {
        }
    }
</script>

<script>
    var boxCounter = 5;

    function handleList(remove) {
        var boxesContainer = document.getElementById('boxes-container');

        if (remove) {
            // Remove the last box
            var lastBox = boxesContainer.lastElementChild;
            if (lastBox && boxCounter > 1) {
                boxesContainer.removeChild(lastBox);
                boxCounter--;
            }
        } else {
            if (boxCounter < 13) {
                // Add a new box
                var newBox = document.createElement('div');
                newBox.className = 'box my-2';
                newBox.id = 'box_' + (boxCounter + 1);
                newBox.innerHTML = boxesContainer.firstElementChild.innerHTML; // Clone the first box
                updateBoxAttributes(newBox, boxCounter + 1);
                boxesContainer.appendChild(newBox);
                boxCounter++;
                // Set focus on the first input or select element in the new box
                var firstInputOrSelect = newBox.querySelector('input, select');
                if (firstInputOrSelect) {
                    firstInputOrSelect.focus();
                }
            }
        }
    }

    function updateBoxAttributes(box, counter) {
        var inputsAndSelects = box.querySelectorAll('input, select, label.checkbox');
        inputsAndSelects.forEach(function (inputOrSelect) {
            if (inputOrSelect.tagName === 'INPUT' || inputOrSelect.tagName === 'SELECT') {
                var currentName = inputOrSelect.name;
                var newName = currentName.replace(/\d+/, counter);
                inputOrSelect.name = newName;
                inputOrSelect.value = "";
            }
        });
    }
</script>

<script>
    // fetch('/layout-ukr', {
    //     method: 'GET',
    // })
    //     .then(async response => {
    //         if (response.ok) {
    //             // Success: Show an alert or perform any other success action
    //             var lastUpdate = await response.json()
    //             var d = new Date(lastUpdate[0].lastUpdate)
    //             // alert(d.toString().split('GMT')[0]);
    //             document.getElementById('lastUpdateSpan').textContent = `Last Update at ${d.toString().split('GMT')[0]}`
    //         } else {
    //             // Error: Log the error to the console
    //             console.error('Form submission failed:', response.statusText);
    //         }
    //     })
    //     .catch(error => {
    //         // Error: Log the error to the console
    //         console.error('Error during form submission:', error);
    //     });
</script>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault();

        var gp = document.getElementById('gp').value;
        var title = document.getElementById('title').value;
        var sub = document.getElementById('sub').value;

        console.log(gp, title, sub)

        var formData = new FormData(this);

        document.getElementById("commsIconM").classList.remove("is-hidden")
        // document.getElementById("commsIconS").classList.add("is-hidden")

        fetch(`/create-playlist?gp=${gp}&title=${title}&subline=${sub}`, {
            method: 'POST',
            body: formData
        })
            .then(async response => {
                if (response.ok) {
                    // Success: Show an alert or perform any other success action
                    var lastUpdate = await response.json()
                    console.log(lastUpdate.url)
                    // var d = new Date(lastUpdate[0].lastUpdate)
                    // alert(d.toString().split('GMT')[0]);
                    // document.getElementById('lastUpdateSpan').textContent = lastUpdate;

                    document.getElementById('returnedLink').setAttribute('href', lastUpdate.url);
                    document.getElementById("commsIconM").classList.add("is-hidden")
                    document.getElementById("returnedLink").classList.remove("is-hidden")
                    console.log()

                } else {
                    // Error: Log the error to the console
                    console.error('Form submission failed:', response.statusText);
                }
            })
            .catch(error => {
                // Error: Log the error to the console
                console.error('Error during form submission:', error);
            });
    });
</script>

</html>