<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Map</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map {
            height: 1080px;
            width: 1920px;
        }
    </style>
</head>

<body>

    <div id="map" style="position: absolute; left: 0; top: 0; height: 1080px; width: 1920px;"></div>

    <script>
        // Initialize the map
        var map = L.map('map').setView([48, 33], 6);

        // Add tile layer to the map
        L.tileLayer('https://tile.openstreetmap.de/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        fetch('https://deepstatemap.live/api/history/last')
            .then(response => response.json())
            .then(data => {
                console.log(data.map.features)
                // Add GeoJSON layer to the map
                // L.geoJSON(data.map.features).addTo(map)

                for (i = 0; i < data.map.features.length; i++) {

                    if (data.map.features[i].geometry.type === "Polygon") {
                        // console.log(data.map.features[i])
                        L.geoJSON(data.map.features[i], {
                            color: data.map.features[i].properties.fill,
                            fillColor: data.map.features[i].properties.fill,
                            fillOpacity: 0.2,
                        }).addTo(map);
                    }

                    if (data.map.features[i].geometry.type === "Point") {

                        if (data.map.features[i].properties.icon === "images/icon-1.png") {

                            var theIcon = L.icon({
                                iconUrl: '/assets/gp/nato/fh_1.png',
                                // shadowUrl: 'leaf-shadow.png',
                                // iconSize: [40, 40], // size of the icon
                                // iconAnchor: [22, 94], // point of the icon which will correspond to marker's location

                                // shadowAnchor: [4, 62],  // the same for the shadow
                                // popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
                            });

                            // console.log(data.map.features[i])
                            L.marker([data.map.features[i].geometry.coordinates[1], data.map.features[i].geometry.coordinates[0]], {
                                icon: theIcon
                            }).addTo(map);
                        }
                        if (data.map.features[i].properties.icon === "images/icon-4.png") {

                            var theIcon = L.icon({
                                iconUrl: '/assets/gp/nato/1_1.png',
                                // shadowUrl: 'leaf-shadow.png',
                                // iconSize: [40, 40], // size of the icon
                                // iconAnchor: [22, 94], // point of the icon which will correspond to marker's location

                                // shadowAnchor: [4, 62],  // the same for the shadow
                                // popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
                            });

                            // console.log(data.map.features[i])
                            L.marker([data.map.features[i].geometry.coordinates[1], data.map.features[i].geometry.coordinates[0]], {
                                icon: theIcon
                            }).addTo(map);
                        }
                        if (data.map.features[i].properties.icon === "images/icon-5.png") {

                            var theIcon = L.icon({
                                iconUrl: '/assets/gp/nato/2_1.png',
                                // shadowUrl: 'leaf-shadow.png',
                                // iconSize: [40, 40], // size of the icon
                                // iconAnchor: [22, 94], // point of the icon which will correspond to marker's location

                                // shadowAnchor: [4, 62],  // the same for the shadow
                                // popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
                            });

                            // console.log(data.map.features[i])
                            L.marker([data.map.features[i].geometry.coordinates[1], data.map.features[i].geometry.coordinates[0]], {
                                icon: theIcon
                            }).addTo(map);
                        }
                    }
                }

                for (i = 0; i < data.map.features.length; i++) {

                    var greenIcon = L.icon({
                        iconUrl: 'leaf-green.png',
                        // shadowUrl: 'leaf-shadow.png',

                        iconSize: [38, 95], // size of the icon
                        shadowSize: [50, 64], // size of the shadow
                        iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
                        // shadowAnchor: [4, 62],  // the same for the shadow
                        // popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
                    });


                }

            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    </script>

</body>

</html>