<!DOCTYPE html>
<html lang="en">

<head>
  <title>TOUCH LAGEZENTRUM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/gp/favicon-play/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/gp/favicon-play/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/gp/favicon-play/favicon-16x16.png">
  <link rel="manifest" href="/assets/gp/favicon-play/site.webmanifest">
  <link rel="stylesheet" href="/assets/css/playlists.css">
</head>

<body>
  <br>
  <div class="playlist-container" id="playlist-container">
    <!-- LOGO -->
    <img src="/assets/gp/bildlogoFB.png" alt="" width="72px">
    <br><br><br>
    <!-- Playlists -->
    <div class="playlist" onclick="window.location.reload(); this.style.background = '#aa0000'" style="opacity: 1">
      <div style="color: #888888; font-size: 28px; font-family: Gotham; font-weight: 400; line-height: 32px;">Liste aktualisieren</div>
    </div>
    <!-- MAP -->
    <!-- <div class="playlist" onclick="window.location.assign('/map?lat=47.5&lng=35&zoom=7&cities=25'); this.style.background = '#aa0000'" style="opacity: 1">
      <div style="color: #888888; font-size: 28px; font-family: Gotham; font-weight: 400; line-height: 32px;">
        Ukraine Kampfkarte</div>
    </div> -->
  </div>

  <script src="/assets/js/playlists.js">

  </script>

</body>

</html>