.menuPos-icon {
    position: absolute;
    left: 170px;
    top: 740px;
    background-image: url(/assets/gp/ICON_04_down.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    opacity: .6;
}

.zoom-icon {
    position: absolute;
    left: 230px;
    top: 740px;
    background-image: url(/assets/gp/ICON_05_zoom_mag.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    opacity: .6;
}

.play-icon {
    position: absolute;
    left: 230px;
    top: 740px;
    background-image: url(/assets/gp/ICON_06_play.png);
    background-size: cover;
    width: 50px;
    opacity: .6;
    height: 50px;
}

.pause-icon {
    position: absolute;
    left: 230px;
    top: 740px;
    background-image: url(/assets/gp/ICON_07_pause.png);
    background-size: cover;
    width: 50px;
    opacity: .6;
    height: 50px;
}

.playlists-icon {
    position: absolute;
    left: 50px;
    top: 50px;
    background-image: url(/assets/gp/ICON_03_playlists.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    opacity: .6;
}

.timecode {
    position: absolute;
    top: 754px;
    left: 720px;
    font-family: Gotham;
    font-weight: 500;
    line-height: 20px;
    color: white;
    font-size: 26px;
}

.home-icon {
    position: absolute;
    left: 110px;
    top: 740px;
    background-image: url(/assets/gp/ICON_02_home.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    opacity: .3;
}

.art-icon {
    position: absolute;
    left: 50px;
    top: 740px;
    background-image: url(/assets/gp/ICON_01_art.png);
    background-size: cover;
    width: 50px;
    height: 50px;
    opacity: .3;
}

.blue-circle {
    position: absolute;
    left: 58px;
    top: 690px;
    background-color: #004f98;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px #e5e5e5 solid;
    opacity: 1;
    scale: 0
}

.red-circle {
    position: absolute;
    left: 58px;
    top: 640px;
    background-color: #ee2e31;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px #e5e5e5 solid;
    opacity: 1;
    scale: 0
}

.green-circle {
    position: absolute;
    left: 58px;
    top: 590px;
    background-color: #2eee6e;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px #e5e5e5 solid;
    opacity: 1;
    scale: 0
}

.yellow-circle {
    position: absolute;
    left: 58px;
    top: 540px;
    background-color: #eee42e;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px #e5e5e5 solid;
    opacity: 1;
    scale: 0
}

.black-circle {
    position: absolute;
    left: 58px;
    top: 490px;
    background-color: #080808;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px #e5e5e5 solid;
    opacity: 1;
    scale: 0
}

.white-circle {
    position: absolute;
    left: 58px;
    top: 440px;
    background-color: #f8f8ff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px #e5e5e5 solid;
    opacity: 1;
    scale: 0
}

.erase-square {
    position: absolute;
    left: 53px;
    top: 382px;
    background-image: url(/assets/gp/ICON_08_erase.png);
    background-size: cover;
    width: 44px;
    height: 44px;
    opacity: 1;
    scale: 0
}

.video-icon {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 40px;
    height: 40px;
    background-image: url(/assets/gp/gallery.png);
    background-size: cover;
    opacity: 1;
}

.video-title {
    color: white;
    position: absolute;
    left: 100px;
    top: 60px;
    font-size: 28px;
    padding-left: 20px;
    font-family: Gotham;
    font-weight: 700;
    line-height: 20px;
    opacity: 1;
}

.video-timestamp {
    color: white;
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 22px;
    padding-left: 20px;
    font-family: Gotham;
    font-weight: 300;
    line-height: 20px;
    opacity: 1;
}

.main-title {
    width: 1920px;
    height: 1080px;
    position: absolute;
    opacity: 0;
    background-size: cover;
    mix-blend-mode: overlay;
}

.bottom-dark-blur {
    background-color: rgb(0, 0, 0);
    filter: blur(100px);
    position: absolute;
    top: 960px;
    left: -300px;
    width: 2520px;
    height: 400px;
}

.left-dark-blur {
    background-color: rgb(0, 0, 0);
    filter: blur(400px);
    position: absolute;
    left: -2000px;
    top: -500px;
    width: 2660px;
    height: 1880px;
}

.full-hd-container {
    width: 1920px;
    height: 1080px;
    position: absolute;
    overflow: clip;
}

.button-container {
    align-self: stretch;
    height: 26px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 1px #e5e5e5 solid;
    border-left: 4px #e5e5e5 solid;
    border-right: 4px #e5e5e5 solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

.menu-container {
    opacity: 0;
    height: 220px;
    top: 1000px;
    left: 0px;
    gap: 10px;
    padding: 50px;
    position: absolute;
    display: inline-flex;
    touch-action: none;
}

.timeline {
    position: absolute;
    top: 530px;
    left: 200px;
    width: 400px;
    height: 10px;
    background-color: white;
    border: none;
    appearance: none;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    width: 30px;
    /* Set the width of the thumb */
    height: 30px;
    /* Set the height of the thumb */
    background-color: white;
    /* Set the background color of the thumb */
    border: none;
    /* Remove the default border */
    border-radius: 100%;
    /* Ensure square shape by removing border-radius */
    appearance: none;
    /* Remove default styles on Chrome and Safari */
}

.hp-img {
    width: 1920px;
    height: 1080px;
    background-size: cover;
}

.card-in-menu {
    align-self: stretch;
    width: 140px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    box-shadow: 12px 12px 100px black;
    border-radius: 8px;
    border: 2px #cccccc solid;
    display: inline-flex;

}

.title-in-menu {
    position: relative;
    top: 90px;
    color: white;
    font-size: 18px;
    font-family: Gotham;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.seekslider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    position: absolute;
    top: 740px;
    left: 290px;
    width: 960px;
    height: 44px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, .4);
    border: 1px solid rgba(255, 255, 255, .6);
}