*{
	user-select: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #3E0003;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.floatLeft0 {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 100px;
	left: 120px;
	border-radius: 10px;
	background-color: #dd000000;
	color: #FFF;
	text-align: center;
	border: 1px solid #fff;
	
}

.align {
	margin-top: 18px;
}


.floatLeft {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 100px;
	left: 50px;
	border-radius: 10px;
	background-color: #dd000000;
	color: #FFF;
	text-align: center;
	border: 1px solid #fff;
}
.floatLeft1 {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 210px;
	left: 40px;
	border-radius: 10px;
	background-color: #dd000000;
	color: #FFF;
	text-align: center;
	border: 1px solid #fff;
}
.floatLeft2 {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 140px;
	left: 40px;

	background-color: #dd000000;
	color: #FFF;
	text-align: center;
	border: 1px solid #fff;
}
.floatLeft3 {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 70px;
	left: 40px;
	background-color: #dd000000;
	color: #FFF;
	text-align: center;
	border: 1px solid #fff;
}

.video {
	position: fixed;
	left: 40px;
	width: 150px;
	background-color: #5f5e5e00;
	color: rgb(252, 250, 250);
	border: 2px solid #fff;
	box-shadow: 0 0 3px 1px #9ecaed;
	text-align: center;
	padding: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase
}


.active {
	position: fixed;
	left: 40px;
	width: 150px;
	background-color: #c2c2c2c7;
	color: rgb(252, 250, 250);
	border: 2px solid #fff;
	box-shadow: 0 0 3px 1px #9ecaed;
	text-align: center;
	padding: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase
}


:root {
	--move: 102px;
   }
   
.pos0{
	top: calc(180px - var(--move));
}
.pos1{
	top: calc(240px - var(--move));
}
.pos2{
	top: calc(280px - var(--move));
}
.pos3{
	top: calc(320px - var(--move));
}
.pos4{
	top: calc(360px - var(--move));
}
.pos5{
	top: calc(400px - var(--move));
}
.pos6{
	top: calc(440px - var(--move));
}
.pos7{
	top: calc(480px - var(--move));
}
.pos8{
	top: calc(520px - var(--move));
}
.pos9{
	top: calc(560px - var(--move));
}
.pos10{
	top: calc(600px - var(--move));
}
.pos11{
	top: calc(640px - var(--move));
}
.pos12{
	top: calc(680px - var(--move));
}
.pos13{
	top: calc(720px - var(--move));

}
.pos14{
	top: calc(760px - var(--move));
}
.pos15{
	top: calc(800px - var(--move));
}
.pos16{
	top: calc(840px - var(--move));
}

.floatLeft1 {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 100px;
	left: 40px;
	background-color: #dd0000;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 0px 0px 0px #999;
}
.floatLeft2 {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 30px;
	left: 40px;
	background-color: #dd0000;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 0px 0px 0px #999;
}



.my-float {
	margin-top: 0px;
}
.material-icons_player {
	margin-top: 18px;
}


#bg {
	position: fixed; 
	top: 0; 
	left: 0; 
  
	/* Preserve aspet ratio */
	max-width: 100%;
    height: auto;
  }

  #video {
	position: fixed;
	right: 0;
	width: 100%;
	overflow: hidden;
  }
  .number{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	position: fixed;
	text-decoration: none;
	margin-top: 17px;
	margin-left: -8px;
  }
  a:link {
	text-decoration: none;
  }

  #timecode{
	position: fixed;  
	font-size: 25px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	bottom: 55px;
	left: 32px;
	background-color: #dd000000;
	border-radius: 5px;
	padding: 8px;
  }

  #seekslider {
	position: fixed;
	width: 85.6vw;
	height: 18px;
	bottom: 65px;
	left: 150px;
	border-radius: 5px;
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 1; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
  }


  #seekslider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #ffffff; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
  }